.point {
    width: 60px;
    height: 60px;
}

.z-index {
    z-index: 1;
}

.pink {
    background-color: #E98580;
}

.green {
    background-color: #B3E283;
}

.violet {
    background-color: #BEAEE2;
}