.phoneIcons {
    width: 40px;
    margin: 5px;
}

.rotate {
    transform: rotate(90deg);
}

.z-index {
    z-index: 1;
}

.pink {
    background-color: #E98580;
}

.violet1 {
    background-color: #9B72AA;
}