.normal {
    background-color: #0d6efd!important;
}

.character1 {
    background-color: #FF0000!important;
}

.character2 {
    background-color: #F10172!important;
}

.character3 {
    background-color: #00A0EB!important;
}

.character4 {
    background-color: #FFC800!important;
}

.img {
    height: 700px;
}