.normal {
    background-color: rgba(13,110,253)!important;
}

.character1 {
    background-color: rgba(255,0,0,0.8)!important;
    z-index: 1;
}

.character2 {
    background-color: rgba(241,1,114,0.8)!important;
    z-index: 1;
}

.character3 {
    background-color: rgba(0,160,235,0.8)!important;
    z-index: 1;
}

.character4 {
    background-color: rgba(255,200,0,0.8)!important;
    z-index: 1;
}

.img {
    height: 600px;
}

.characters {
    background-color: rgba(255,255,255,0.8);
    z-index: 1;
}