.normal {
    background-color: rgba(13,110,253)!important;
}

.character1 {
    background-color: rgba(255,0,0,0.8)!important;
    z-index: 1;
}

.character2 {
    background-color: rgba(241,1,114,0.8)!important;
    z-index: 1;
}

.character3 {
    background-color: rgba(0,160,235,0.8)!important;
    z-index: 1;
}

.character4 {
    background-color: rgba(255,200,0,0.8)!important;
    z-index: 1;
}

.img {
    height: 600px!important;
}

.characters {
    background-color: rgba(255,255,255,0.8);
    z-index: 1;
}

.icon {
    height: 70px!important;
}

.video {
    width: 600px;
    height: 337.5px;
}

@media (max-width : 500px) {
    .img {
        height: 300px!important;
    }
    .icon {
        height: 50px!important;
    }    
    .column {
        flex-direction: column;
    }
}
@media (max-width : 768px) {
    .column {
        flex-direction: column;
        align-items: center;
    }
    .video{
        width: 400px;
        height: 225px;
    }
    .characterIcon {
        width: 150px;
    }
}
@media (max-height : 600px) {
    .column {
        flex-direction: column;
        align-items: center;
    }
    .characterIcon {
        width: 100px;
    }
}
@media (max-width : 400px) {
    .column {
        flex-direction: column;
        align-items: center;
    }
    .characterIcon {
        width: 100px;
    }
}